html, body { font-family: sans-serif; height: 100%; margin: 0; }
#box { display: flex; flex-direction: column; height: 100%; }
h1, h3 { text-align: center; flex: 0 0 auto; }

a, .counter .num, #plotcontext { color: #f80; }
a { text-decoration: none; }
#counterblock { width: 620px; margin: 0 auto; flex: 0 0 auto; }
.counter {
 width: 71px; height: 96px;
 overflow: hidden; float: left;
}
.counter .bg {
 background: url('bg.png') no-repeat;
 width: 71px; height: 96px;
 position: absolute; z-index: 100;
}
.counter .num {
 width: 71px;
 font-size: 65pt;
 text-align: center;
 font-weight: bold;
}
.counter .num .zero.forlater {
 color: #F00;
}
#charts { flex: 1 0 400px; display: flex; flex-direction: row-reverse; width: 100%; height: 100%; margin: 0; }
.chartspacer { flex: 1 7 10px; }
.chartspacermid { flex: 0 3 100px; }
#trendholder { flex: 1 1 600px; display: flex; flex-direction: column; }
#ctrlholder { flex: 0 1 280px; }
#ctrlholder span.ctrl { transition: all 0.4s linear; padding: 3px 5px; font-size: 30px; cursor: pointer; }
#ctrlholder p { transition: all 0.4s linear; cursor: pointer; padding: 3px 1em; font-weight: bold; margin: 0; }
#ctrlholder p.bar { border-bottom: 2px solid grey; }
#ctrlholder :hover { background-color: #FC8; }
#ctrlholder .selected, #ctrlholder .selected:hover { background-color: #F80; cursor: auto; }
#ctrlholder .selected { color: white; }

#trend { flex: 1 1 auto; }
#footer { text-align: center; width: 100%; font-size: small; flex: 0 0 auto; }

/* Medium screens */
@media all and (max-width: 800px) {
 #charts { display: block; margin: 1em 0; height: auto; }
 #trend { width: 100%; height: auto; flex: 0 0 auto; }
 .chartspacer, .chartspacermid { width: 100%; height: 1em; }
}

svg {
  font: 10px sans-serif;
}
.area {
  fill: #f80; // steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}